In [34]:
import numpy as np
import pandas as pd

In [11]:
df=pd.read_csv('milk_production.csv')
print(df)

           Category        State/ UT Name  Cow Milk-2010-11  Cow Milk-2011-12  \
0             State        Andhra Pradesh            3102.0            3377.0
1             State     Arunachal Pradesh              28.0              22.0
2             State                 Assam             666.0             658.0
3             State                 Bihar            3561.0            3661.0
4             State          Chhattisgarh             644.0             701.0
5             State                   Goa              37.0              42.0
6             State               Gujarat            3572.0            3848.0
7             State               Haryana             966.0             998.0
8             State      Himachal Pradesh             669.0             680.0
9             State       Jammu & Kashmir            1205.0            1204.0
10            State             Jharkhand             842.0            1017.0
11            State             Karnataka            3475.0            3715.0
12            State                Kerala            2505.0            2582.0
13            State        Madhya Pradesh            3152.0            3589.0
14            State           Maharashtra            4297.0            4605.0
15            State               Manipur              64.0              67.0
16            State             Meghalaya              77.0              78.0
17            State               Mizoram              11.0              14.0
18            State              Nagaland              71.0              74.0
19            State                Odisha            1438.0            1477.0
20            State                Punjab            3067.0            3074.0
21            State             Rajasthan            5032.0            4972.0
22            State                Sikkim              43.0              45.0
23            State            Tamil Nadu            6021.0            6189.0
24            State             Telangana               NaN               NaN
25            State               Tripura             100.0             106.0
26            State         Uttar Pradesh            5342.0            5837.0
27            State           Uttarakhand             615.0             638.0
28            State           West Bengal            4109.0            4303.0
29  Union Territory          A & N Island              18.0              19.0
30  Union Territory            Chandigarh              14.0              14.0
31  Union Territory  Dadra & Nagar Haveli               9.0               9.0
32  Union Territory           Daman & Diu               1.0               1.0
33  Union Territory                 Delhi             102.0             109.0
34  Union Territory           Lakshadweep               1.0               2.0
35  Union Territory            Puducherry              45.0              44.0

    Cow Milk-2013-14  Cow Milk-2014-15  Cow Milk-2015-16  \
0             3799.0              3079              3369
1               43.0                46                50
2              677.0               685               703
3             3986.0              4318              4881
4              788.0               824               919
5               43.0                45                34
6             4673.0              4999              5461
7             1057.0              1194              1558
8              698.0               715               858
9             1233.0              1323              1752
10             978.0              1088              1383
11            4142.0              4330              4417
12            2484.0              2534              2508
13            4377.0              4982              5930
14            5016.0              5268              6062
15              68.0                68                65
16              80.0                81                82
17              15.0                20                22
18              75.0                71                70
19            1586.0              1705              1673
20            3108.0              2973              2904
21            5112.0              6126              6630
22              46.0                50                67
23            6444.0              6652              6868
24               NaN              1181              1318
25             119.0               130               139
26            6142.0              6387              8243
27             723.0               810               856
28            4519.0              4576              4669
29              11.0                12                13
30              13.0                13                13
31               9.0                 7                 0
32               0.0                 0                 0
33              82.0                81                81
34               1.0                 1                 1
35              46.0                46                46

    Boffalo Milk-2010-11  Boffalo Milk-2011-12  Boffalo Milk-2013-14  \
0                 8101.0                8710.0                9207.0
1                    NaN                   NaN                   0.0
2                  101.0                 117.0                 122.0
3                 2798.0                2805.0                3015.0
4                  343.0                 368.0                 374.0
5                   23.0                  18.0                  25.0
6                 5514.0                   NaN                6180.0
7                 5239.0                5596.0                6308.0
8                  384.0                 390.0                 404.0
9                  311.0                 317.0                 287.0
10                 647.0                 648.0                 636.0
11                1583.0                1675.0                1795.0
12                  21.0                  27.0                  58.0
13                3935.0                4041.0                4679.0
14                3473.0                3571.0                3822.0
15                  14.0                  12.0                  14.0
16                   2.0                   2.0                   2.0
17                   1.0                   0.0                   0.0
18                   4.0                   4.0                   4.0
19                 229.0                 241.0                 272.0
20                6301.0                6417.0                6845.0
21                6611.0                6901.0                7681.0
22                   0.0                   0.0                   0.0
23                 810.0                 779.0                 605.0
24                   NaN                   NaN                   NaN
25                   2.0                   2.0                   2.0
26               14496.0               15549.0               16805.0
27                 769.0                 779.0                 827.0
28                 222.0                 223.0                 235.0
29                   5.0                   4.0                   2.0
30                  32.0                  31.0                  31.0
31                   2.0                   2.0                   2.0
32                   1.0                   1.0                   0.0
33                 377.0                 393.0                 202.0
34                   NaN                   0.0                   0.0
35                   2.0                   2.0                   1.0

    Boffalo Milk-2014-15  Boffalo Milk-2015-16  Goat Milk-2010-11  \
0                   6574                  7445                1.0
1                      0                     0                NaN
2                    120                   117               23.0
3                   3248                  3210              158.0
4                    359                   311               43.0
5                     21                    19                0.0
6                   6424                  6512              236.0
7                   6628                  6772               63.0
8                    408                   381               49.0
9                    546                   453               94.0
10                   556                   327               65.0
11                  1733                  1849               56.0
12                    62                    13              119.0
13                  5240                  5610              427.0
14                  4027                  3832              273.0
15                    14                    14                NaN
16                     2                     2                NaN
17                     0                     0                NaN
18                     4                     5                1.0
19                   194                   252                3.0
20                  7313                  7814               55.0
21                  8985                  9937             1590.0
22                     0                     0                NaN
23                   480                   375                NaN
24                  3022                  3118                NaN
25                     2                     2                3.0
26                 17524                 16865             1193.0
27                   756                   751                NaN
28                   233                   240              140.0
29                     2                     1                2.0
30                    31                    30                NaN
31                     1                     0                NaN
32                     0                     0                NaN
33                   199                   200                NaN
34                     0                     0                1.0
35                     1                     2                NaN

    Goat Milk-2011-12  Goat Milk-2013-14  Goat Milk-2014-15  Goat Milk-2015-16
0                 1.0                1.0                  3                  3
1                 NaN                NaN                  0                  0
2                22.0               15.0                 24                 24
3               177.0              196.0                209                198
4                49.0               46.0                 49                 48
5                 NaN                0.0                  0                  1
6               241.0              259.0                267                289
7                67.0               77.0                 80                 51
8                50.0               49.0                 50                 44
9                93.0               95.0                 82                 68
10               80.0               85.0                 90                102
11               58.0               60.0                 58                 78
12              107.0              112.0                115                129
13              519.0              543.0                557                609
14              293.0              250.0                247                258
15                NaN                NaN                  0                  0
16                NaN                NaN                  0                  0
17                NaN                NaN                  0                  0
18                1.0                1.0                  1                  1
19                3.0                3.0                  4                  5
20               59.0               58.0                 65                 57
21             1641.0             1780.0               1823               1933
22                NaN                NaN                  0                  0
23                NaN                NaN                  0                  0
24                NaN                NaN                  3                  6
25                3.0                9.0                 10                 12
26             1171.0             1248.0               1288               1279
27                NaN                NaN                  0                 49
28              146.0              152.0                151                130
29                2.0                2.0                  1                  1
30                NaN                NaN                  0                  0
31                NaN                NaN                  0                  0
32                NaN                0.0                  0                  0
33                NaN                NaN                  0                  0
34                1.0                5.0                  3                  2
35                NaN                NaN                  0                  0

In [12]:
#1
df["maxmilk2013_14"] = df["Cow Milk-2013-14"] + df["Boffalo Milk-2013-14"] + df["Goat Milk-2013-14"]

df[df["maxmilk2013_14"]==df["maxmilk2013_14"].max()]["State/ UT Name"]

26    Uttar Pradesh
Name: State/ UT Name, dtype: object

In [21]:
#2
df["2010"]=df["Cow Milk-2010-11"] + df["Boffalo Milk-2010-11"] + df["Goat Milk-2010-11"]
df["2011"]=df["Cow Milk-2011-12"] + df["Boffalo Milk-2011-12"] + df["Goat Milk-2011-12"]
df["2013"]=df["Cow Milk-2013-14"] + df["Boffalo Milk-2013-14"] + df["Goat Milk-2013-14"]
df["2014"]=df["Cow Milk-2014-15"] + df["Boffalo Milk-2014-15"] + df["Goat Milk-2014-15"]
df["2015"]=df["Cow Milk-2015-16"] + df["Boffalo Milk-2015-16"] + df["Goat Milk-2015-16"]

print("Top 5 cities of 2010")
print(df.sort_values("2010",ascending=False)["State/ UT Name"].head())
print("Top 5 cities of 2011")
print(df.sort_values("2011",ascending=False)["State/ UT Name"].head())
print("Top 5 cities of 2013")
print(df.sort_values("2013",ascending=False)["State/ UT Name"].head())
print("Top 5 cities of 2014")
print(df.sort_values("2014",ascending=False)["State/ UT Name"].head())
print("Top 5 cities of 2015")
print(df.sort_values("2015",ascending=False)["State/ UT Name"].head())

Top 5 cities of 2010
26     Uttar Pradesh
21         Rajasthan
0     Andhra Pradesh
20            Punjab
6            Gujarat
Name: State/ UT Name, dtype: object
Top 5 cities of 2011
26     Uttar Pradesh
21         Rajasthan
0     Andhra Pradesh
20            Punjab
14       Maharashtra
Name: State/ UT Name, dtype: object
Top 5 cities of 2013
26     Uttar Pradesh
21         Rajasthan
0     Andhra Pradesh
6            Gujarat
20            Punjab
Name: State/ UT Name, dtype: object
Top 5 cities of 2014
26     Uttar Pradesh
21         Rajasthan
6            Gujarat
13    Madhya Pradesh
20            Punjab
Name: State/ UT Name, dtype: object
Top 5 cities of 2015
26     Uttar Pradesh
21         Rajasthan
6            Gujarat
13    Madhya Pradesh
0     Andhra Pradesh
Name: State/ UT Name, dtype: object

In [38]:
#4
df[df["y2016"].ge(df["2015"]) & df["2015"].ge(df["2014"])]
df.head()

,Category,State/ UT Name,Cow Milk-2010-11,Cow Milk-2011-12,Cow Milk-2013-14,Cow Milk-2014-15,Cow Milk-2015-16,Boffalo Milk-2010-11,Boffalo Milk-2011-12,Boffalo Milk-2013-14,...,y2014,y2015,y2016,y2010,y2013,2010,2011,2013,2014,2015
0,State,Andhra Pradesh,3102.0,3377.0,3799.0,3079,3369,8101.0,8710.0,9207.0,...,9656,10817,10817,11204.0,13007.0,11204.0,12088.0,13007.0,9656,10817
1,State,Arunachal Pradesh,28.0,22.0,43.0,46,50,NaN,NaN,0.0,...,46,50,50,NaN,NaN,NaN,NaN,NaN,46,50
2,State,Assam,666.0,658.0,677.0,685,703,101.0,117.0,122.0,...,829,844,844,790.0,814.0,790.0,797.0,814.0,829,844
3,State,Bihar,3561.0,3661.0,3986.0,4318,4881,2798.0,2805.0,3015.0,...,7775,8289,8289,6517.0,7197.0,6517.0,6643.0,7197.0,7775,8289
4,State,Chhattisgarh,644.0,701.0,788.0,824,919,343.0,368.0,374.0,...,1232,1278,1278,1030.0,1208.0,1030.0,1118.0,1208.0,1232,1278